.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:36px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container-widescreen{padding:0;}
section,header,footer{margin-bottom:50px;}
header{text-align:center;}
.navbar{background-color:#000000;margin-bottom:0;}.navbar .navbar-inner{border-radius:0;max-width:920px;margin:auto;padding-top:40px;padding-bottom:5px;}
.navbar .brand{float:left;font-size:30px;border-bottom:thin solid #eeeeee;}
.navbar .nav{clear:both;float:right;}
.carousel,.carousel-inner{background:black;border-bottom:2px solid #999999;border-top:2px solid #999999;margin-bottom:0;}.carousel .carousel-control,.carousel-inner .carousel-control{background:none;border:none;width:75px;height:75px;font-size:75px;text-align:center;}
.carousel .item img,.carousel-inner .item img{height:auto;width:100%;}
.span4{min-height:300px;}
address{height:100px;}address ul.icons-ul{margin-left:30px;}
.shadow{border:thin solid #eeeeee;padding:15px;-webkit-box-shadow:3px 3px 3px #eeeeee;-moz-box-shadow:3px 3px 3px #eeeeee;box-shadow:3px 3px 3px #eeeeee;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
footer.footer{margin-left:auto;margin-right:auto;max-width:920px;}footer.footer p.badge-of-honour{float:left;}
footer.footer a.return-to-top{float:right;}
@media (min-width:1200px){}@media (min-width:980px) and (max-width:1199px){}@media (min-width:768px) and (max-width:979px){.navbar .navbar-inner{padding:10px;}.navbar .navbar-inner .brand{border:none;}}@media (max-width:767px){.navbar,.carousel{margin-left:-20px;margin-right:-20px;} .navbar .navbar-inner{padding:5px 0;}.navbar .navbar-inner .brand{border:none;} .shadow{margin-top:10px;}}@media (max-width:480px){}
