<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!--Always remove a fileExtension before adding a mimeMap,
    in order to avoid a server 500.19 error.-->
    <staticContent>      
      <!--FontAwesome-->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
      <!--Html-->
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
    </staticContent>
  </system.webServer>

</configuration>
